
*{
    box-sizing: border-box;
    font-family: cursive;
}
body, html{
    height: 100%;
}
body{
    background-color: rgb(228, 191, 180);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgb(153, 153, 153);
    box-sizing: content-box;
    padding: 16px;
    gap: 8px;
    border: 1px solid white;
}
#calculator-display-container{
    height: 80px;
    background-color: aliceblue;
    width: 100%;
    margin-right: 0;
    padding: 8px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 28px;
}
#calculator-display{
    text-align: end;
    overflow-x: auto;
}

.calculator-container, #calculator-display-container{
    border-radius: 8px;
}

#numbers-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 75px;
    height: 75px;
    background-color: white;
}
.btn, .special-btn{
    color: black;
    font-weight: 20%;
    font-size: 18px;
    border-radius: 8px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;    
    border: solid 2px rgb(153, 153, 153);
}

.special-buttons-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.special-btn{
    flex: 1;
}

#clear-btn{
    background-color: rgb(43, 226, 165);
}
#delete-btn{
    background-color: rgb(233, 146, 146);
}

